{{- /* Footer custom content area start */ -}}
{{- /* Insert any custom code web-analytics, resources, etc. here */ -}}
{{- /* Footer custom content area end */ -}}

{{- if (and (eq site.Params.env "production") site.Params.librecounter site.Params.librecounter.enabled) }}
<img decoding="async" loading="eager" fetchPriority="low" src="https://librecounter.org/counter.svg"
    referrerPolicy="unsafe-url" style="width: 1px;height: 1px;" alt="librecounter image" />
<a href="https://librecounter.org/referer/show" target="_blank">
    <img src="https://librecounter.org/counter.svg" referrerPolicy="unsafe-url" />
</a>
referrerPolicy="unsafe-url" style="width: 1px;height: 1px;" />
referrerPolicy="unsafe-url" style="width: 1px;height: 1px;" alt="librecounter image"/>
{{- end }}